body {
    overflow-y: scroll;
}

.feed {
    margin: auto;
    width: 500px;
    min-height: 100%;
    background-color: Black;
    border: 1px solid Purple;
    border-radius: 12px;
    padding: 20px;
}

.postsSection {}

.post {
    margin: 10px auto;
    width: 450px;
    background-color: LightGray;
    border: 1px solid Purple;
    border-radius: 12px;
    padding: 10px;
}
.postText {
    margin: auto;
    width: 400px;
    word-wrap: break-word;
}

.postProperties {
    display: inline;
}



